.cadastro {
  position: relative;
  padding: 25px 30px;
}

.cadastro__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../backgound/background-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

.cadastro__titulo {
  font-family: var(--fonte-principal);
  font-size: 30px;
  font-weight: 700;
  color: var(--verde-escuro);
  margin-left: 2.5em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.formulario {
  max-width: 100%;
  padding: 0 15px;
  margin-right: 1em;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  font-family: var(--fonte-principal);
  color: var(--verde-escuro);
  font-size: 14px;
  font-weight: 400;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="tel"],
.formulario input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 3px solid var(--verde-escuro);
  background-color: var(--verde-claro);
  opacity: 0.8;
}

.botao-submit input[type="submit"] {
  background-color: var(--verde-escuro);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 500;
  color: var(--branco);
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.9;
  margin-top: 1em;
}

.botao-submit input[type="submit"]:hover {
  background-color: var(--verde-secundario);
}

.botao-submit {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .cadastro {
    position: relative;
    padding: 40px 40px;
  }

  .cadastro__background {
    opacity: 0.7;

  }

  .cadastro__titulo {
    font-size: 36px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .formulario {
    max-width: 100%;
    padding: 0 100px;
  }

  .formulario label {
    font-size: 16px;
  }

  .botao-submit input[type="submit"] {
    padding: 1em 3.5em;
    opacity: 1.0;
    margin-top: 1em;
  }

  .botao-submit input[type="submit"]:hover {
    background-color: var(--verde-claro);
  }

  .botao-submit {
    text-align: center;
  }

}

@media screen and (min-width: 1440px) {
  .cadastro__titulo {
    font-size: 40px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .formulario {
    max-width: 100%;
    padding: 0 300px;
  }
} 