.rodape {
  background-color: var(--verde-escuro);
}

.rodape__titulo {
  font-size: 14px;
  color: var(--branco);
  font-weight: 400;
  padding: 30px 20px 10px 20px;
  display: flex;
}

.lista-rodape {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.lista-rodape__item {
  list-style: none;
}

.lista-rodape__item img {
  width: 30px;
  height: 30px;
}

.rodape__titulo-2 {
  font-size: 14px;
  color: var(--branco);
  font-weight: 400;
  padding: 30px 20px 10px 20px;
  display: flex;
}

.lista-rodape-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}

.lista-rodape__item-2 {
  list-style: none;
  max-width: 100%;
  max-height: 100%;
}

.lista-rodape__item-2 img {
  width: 100px;
  height: auto;
}

.lista-rodape-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-left: 50px;
  padding-top: 10px;
}

.lista-rodape__item-3 {
  list-style: none;
  max-width: 100%;
  max-height: 100%;
}

.lista-rodape__item-3 img {
  width: 100px;
  height: auto;
}

.lista-rodape-3 a {
  text-decoration: none;
  font-size: 28px;
  font-family: var(--fonte-principal);
  color: var(--branco);
  font-weight: 700px;
}

.integrantes {
  display: flex;
  justify-content: space-between;

}

.integrantes-integrantes {
  display: flex;
  flex-direction: column;
}

.titulo-integrantes {
  font-size: 14px;
  font-family: var(--fonte-principal);
  font-weight: 400;
  color: var(--branco);
  margin-bottom: 10px;
  padding-top: 20px;
  margin-left: 20px;
}

.lista-integrantes {
  padding-bottom: 20px;
}

.lista-integrantes li {
  margin-bottom: 5px;
}

.lista-integrantes a {
  text-decoration: none;
  font-family: var(--fonte-principal);
  color: var(--branco);
  font-size: 12px;
  font-weight: 200;
  margin-left: 30px;
}

.logo-kubefarm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-kubefarm img {
  max-height: 100px;
  max-width: 200px;
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .rodape__titulo{
    margin-left: 10px;
    font-size: 16px;
  }
  .lista-rodape__item img{
    width: 40px;
    height: auto;
    margin: 5px;
  }
  .rodape__titulo-2{
    margin-left: 10px;
    font-size: 16px;
  }
  .lista-rodape__item-2,
  .lista-rodape__item-3{
    width: 50px;
    height: auto;
    margin: 30px;
  }
  .lista-rodape-2{
    position:relative;
    float: left;
    margin-top: 10px;
  }
  .lista-rodape-3{
    margin-left: 400px;
  }
  .titulo-integrantes{
    position:absolute;
    font-size: 16px;
  }
  .lista-integrantes{
    position: relative;
    margin-left: 150px;
    margin-top: 20px;
  }
  .lista-integrantes a{
    font-size: 16px;
  }
  .logo-kubefarm{
    margin-right: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .rodape__titulo{
    margin-left: 10px;
    font-size: 16px;
  }
  .lista-rodape__item img{
    width: 50px;
    height: auto;
    margin: 8px;
  }

  .rodape__titulo-2{
    margin-left: 10px;
    font-size: 16px;
  }
  .lista-rodape__item-2,
  .lista-rodape__item-3{
    width: 80px;
    height: auto;
    margin: 40px;
    align-items: center;
  }
  .lista-rodape-2{
    display: flex;
    gap: 30px;
    padding-bottom: 15px;
  }

  .lista-rodape__item-2 img{
    align-items: flex-start;
    width: 160px;
    margin-right: 10px;
    justify-content: flex-start;
  }

  .lista-rodape__item-3 img{
    width: 150px;
    height: auto;
    margin-left: 10px;
  }
  .lista-rodape__item-3 a{
    font-size: 40px;
  }

  .lista-rodape-3
  .lista-rodape-2{
    position:relative;
    float: left;
    margin-top: 10px;
  }
  
  .titulo-integrantes{
    position:absolute;
    font-size: 16px;
  }
  .lista-integrantes{
    position: relative;
    margin-left: 150px;
    margin-top: 20px;
  }
  .lista-integrantes a{
    font-size: 16px;
  }
  .integrantes{
    max-width: 100%;
  }
  .logo-kubefarm{
    margin-right: 10px;
  }
  .logo-kubefarm img{
    height: 70vh;
    width: auto;
    padding: 40px 20px;
  }
}