.art-parceiros-1 {
  width: 100%;
  height: 40vh;
}

.art-parceiros-2,
.art-parceiros-3,
.art-parceiros-4,
.art-parceiros-5 {
  width: 100%;
  height: 25vh;
}

.art-parceiros__img-1 {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.art-parceiros__img-2,
.art-parceiros__img-3,
.art-parceiros__img-4,
.art-parceiros__img-5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-1-art-parceiros,
.texto-5-art-parceiros {
  background-color: var(--verde-secundario);
  background-size: 100%;
}

.texto-1-art-parceiros__texto,
.texto-5-art-parceiros__texto {
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 200;
  color: var(--beje);
  margin: 0 20px;
  padding: 20px 0;
}

.texto-1-art-parceiros__titulo,
.texto-5-art-parceiros__titulo {
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 500;
  color: var(--beje);
  margin: 0 20px;
  padding: 20px 0 0 0;
}

.texto-2-art-parceiros,
.texto-3-art-parceiros,
.texto-4-art-parceiros {
  background-color: var(--beje);
  background-size: 100%;
}

.texto-2-art-parceiros__texto,
.texto-3-art-parceiros__texto,
.texto-4-art-parceiros__texto {
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 200;
  color: var(--verde-escuro);
  margin: 0 20px;
  padding: 20px 0;
}

.texto-2-art-parceiros__titulo,
.texto-3-art-parceiros__titulo,
.texto-4-art-parceiros__titulo {
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 500;
  color: var(--verde-escuro);
  margin: 0 20px;
  padding: 20px 0 0 0;
}

@media screen and (min-width: 1024px) {

  .art-parceiros-2,
  .art-parceiros-3,
  .art-parceiros-4,
  .art-parceiros-5{
    height: 60vh;
  }

  .texto-2-art-parceiros__titulo,
  .texto-1-art-parceiros__titulo
  .texto-3-art-parceiros__titulo,
  .texto-4-art-parceiros__titulo,
  .texto-5-art-parceiros__titulo{
    font-size: 16px;
    margin: 0 25px;
    padding: 35px 1 0;
  }


  .texto-2-art-parceiros__texto,
  .texto-3-art-parceiros__texto,
  .texto-4-art-parceiros__texto,
  .texto-5-art-parceiros__texto,
  .texto-1-art-parceiros__texto{
    font-size: 16px;
    margin-top: 0px;
    margin: 0 25px;
    padding: 35px 0 1;
  }

  .texto-1-art-parceiros{
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {

  .art-parceiros-1,
  .art-parceiros-2,
  .art-parceiros-3,
  .art-parceiros-4,
  .art-parceiros-5{
    height: 80vh;
  }

  .texto-2-art-parceiros__titulo,
  .texto-1-art-parceiros__titulo
  .texto-3-art-parceiros__titulo,
  .texto-4-art-parceiros__titulo,
  .texto-5-art-parceiros__titulo{
    font-size: 18px;
    margin: 0 25px;
    padding: 55px 1 0;
  }


  .texto-2-art-parceiros__texto,
  .texto-3-art-parceiros__texto,
  .texto-4-art-parceiros__texto,
  .texto-5-art-parceiros__texto,
  .texto-1-art-parceiros__texto{
    font-size: 18px;
    margin-top: 0px;
    margin: 0 25px;
    padding: 55px 0 1;
  }

  .texto-1-art-parceiros{
    width: 100%;
    padding: 0;
    margin: 0;
  }
}