.img-sobre {
  position: relative;
  width: 100%;
  height: 40vh;
}

.img-sobre__img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.img-sobre__titulo {
  color: var(--verde-escuro);
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 2em;
  left: 5em;
}

.img-sobre__subtitulo {
  color: var(--verde-escuro);
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 3.1em;
  left: 8.5em;
}

.img-sobre__subtitulo-2 {
  color: var(--verde-escuro);
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 4.2em;
  left: 11.5em;
}

.botao-cadastro {
  position: relative;
  padding: 30px;
}

.botao-comunidade {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16em;
  left: 14em;
}

.botao-comunidade a {
  text-decoration: none;
  background-color: var(--verde-escuro);
  color: var(--branco);
  font-weight: 500;
  padding: 1em 2em;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  opacity: 0.9;
}

.botao-escola {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12em;
  left: 14em;
}

.botao-escola a {
  text-decoration: none;
  background-color: var(--verde-escuro);
  color: var(--branco);
  font-weight: 500;
  padding: 1em 2.7em;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  opacity: 0.9;
}

.botao-comunidade a:hover {
  background-color: var(--verde-escuro);
  opacity: 1.0;
  cursor: pointer;
}

.botao-escola a:hover {
  background-color: var(--verde-escuro);
  opacity: 1.0;
  cursor: pointer;
}

.texto-sobre {
  background-color: var(--verde-secundario);
}

.texto-sobre__titulo {
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 500;
  color: var(--beje);
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.texto-sobre__texto {
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 200;
  color: var(--beje);
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.sobre-img-2 {
  width: 100%;
  height: 40vh;
}

.sobre-img-2__img {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sobre-img-2__background {
  background-color: var(--beje);
  background-size: 100%;
}

.sobre-img-2-texto {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 200;
  color: var(--verde-secundario);
}

.sobre-img-3 {
  width: 100%;
  height: 35vh;
}

.sobre-img-3__img {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sobre-img-3__background {
  background-color: var(--beje);
  background-size: 100%;
}

.sobre-img-3-texto {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 200;
  color: var(--verde-secundario);
}

.sobre-img-4 {
  width: 100%;
  height: 35vh;
}

.sobre-img-4__img {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {

  .img-sobre {
    height: 60vh;
  }
  
  .img-sobre__titulo {
    font-size: 26px;
    top: 2em;
    left: 20.5em;
  }
  
  .img-sobre__subtitulo {
    font-size: 26px;
    top: 3.1em;
    left: 24.1em;
  }
  
  .img-sobre__subtitulo-2 {
    font-size: 26px;
    top: 4.2em;
    left: 27em;
  }
  
  .botao-comunidade {
    top: 25em;
    left: 50em;
  }
  
  .botao-comunidade a {
    padding: 1em 3em;
    font-size: 16px;
  }
  
  .botao-escola {
    top: 25em;
    left: 36em;
  }
  
  .botao-escola a {
    padding: 1em 3.5em;
    font-size: 16px;
  }

  .sobre-img-2 {  
    height: 70vh;
  }

  .sobre-img-3, .sobre-img-4 {
    height: 60vh;
  }

}

@media screen and (min-width: 1440px) {


  .img-sobre {
    height: 80vh;
  }
  
  .img-sobre__titulo {
    font-size: 36px;
    top: 2em;
    right: auto;
  }
  
  .img-sobre__subtitulo {
    font-size: 36px;
    top: 3.1em;
    right: auto;
  }
  
  .img-sobre__subtitulo-2 {
    font-size: 36px;
    top: 4.2em;
    right: auto;
  }
  
  .botao-comunidade {
    top: 32em;
    left: 71.5em;
  }
  
  .botao-comunidade a {
    padding: 1em 3em;
    font-size: 16px;
  }
  
  .botao-escola {
    top: 32em;
    left: 56em;
  }
  
  .botao-escola a {
    padding: 1em 3.5em;
    font-size: 16px;
  }

  .sobre-img-2 {  
    height: 80vh;
  }

  .sobre-img-3, .sobre-img-4 {
    height: 80vh;
  }
}